/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 1rem;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  /* input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  } */
  input[type="text"] {
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    margin-bottom: 1rem;
  }
  
  table th,
  table td {
    padding: 0.5rem;
    border: 1px solid #ccc;
  }
  
  table th {
    background-color: #f0f0f0;
    font-weight: normal;
  }
  
  table td:last-child {
    text-align: right;
  }
  .my-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .my-button:hover {
    background-color: #0056b3;
  }
  