#calendar {
    margin: 0 auto;
    width: 500px;
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
  }
  
  th {
    background-color: #eee;
    font-weight: normal;
  }
  
  td {
    height: 50px;
  }
  
  .today {
    background-color: yellow;
  }
  
   /* 캘린더 스타일
   .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .dropdown form {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
  }

  .dropdown.show form {
    display: block;
  }
#calendar {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
}

#dateDisplay {
  font-size: 24px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

td {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
} */
